export(aggr)
export(bench)
export(cAIC)
export(COR)
export(COV)
export(CV)
export(CVarea)
export(EST)
export(fSAE)
export(fSAE.Area)
export(fSAE.Unit)
export(fSurvReg)
export(generateFakeData)
export(MSE)
export(R2)
export(raneff)
export(raneff.se)
export(relSE)
export(SE)
export(se2)
export(sv2)
export(synthetic)
export(uweights)
export(wDirect)
import(Matrix)
importFrom(arm,coefplot)
importFrom(arm,coefplot.default)
S3method(coef,sae)
S3method(fitted,sae)
S3method(plot,sae)
S3method(plot,weights)
S3method(print,sae)
S3method(residuals,sae)
S3method(summary,weights)
S3method(vcov,sae)
